In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('imputado_num_cols_ncat.csv')

C:\Users\Neuraprint\AppData\Local\Temp\ipykernel_7908\1931859527.py:3: DtypeWarning: Columns (3,4,8,11,12,19,22,23,24,25,26,27,28,29) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('imputado_num_cols_ncat.csv')

In [2]:
from sklearn.impute import KNNImputer
from sklearn.preprocessing import LabelEncoder
import pandas as pd

In [4]:
print(df.isna().sum())

c1           8
c7           0
c10          0
c132     59585
c141     78599
c144     22107
c145         0
c151         0
c30     174605
c31          0
c35     110161
c106     42700
c108     42945
c117    134074
c61          0
c62          0
c65          0
c41      13752
c47          0
c49      58497
c56          0
c122    175292
c126    173550
c128    173030
c130     63889
c84     178107
c123     47072
c51      49637
c101     41162
c109     46171
c156    137881
dtype: int64

In [5]:
# Contar el número de valores NaN en cada columna
print(df["c132"].isna().sum())

59585

In [6]:
df = df.replace("nan", np.nan)

In [7]:
# Lista de columnas a recorrer
columnas = ["c132"]  # Agrega aquí todas las columnas que deseas recorrer

for columna in columnas:
    # Obtener los valores repetidos y contar su frecuencia
    repeated_values = df[columna].value_counts()
    
    # Crear un DataFrame con los valores repetidos y su frecuencia
    repeated_values_df = repeated_values.to_frame()
    repeated_values_df.columns = ['Frequency']
    
    # Ordenar por las categorías menos frecuentes
    repeated_values_df = repeated_values_df.sort_values(by='Frequency').head(50)
    
    # Imprimir el nombre de la columna
    print("Columna:", columna)
    
    # Imprimir el DataFrame
    print(repeated_values_df)
    print()  # Agregar una línea en blanco después de cada columna

Columna: c132
   Frequency
X         12
S         12
U         15
D         19
T         19
R         20
O         23
V         31
W         32
H         36
L         43
N         46
K         47
G         52
C         66
M        126
F        142
J        157
P        178
Q        548
I       1049
E       1997
Y      17406
A      34794
B      36771
Z      61401

In [7]:
df["c132"]

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
214630    NaN
214631    NaN
214632    NaN
214633    NaN
214634    NaN
Name: c132, Length: 214635, dtype: object

In [8]:
df.dtypes

c1       object
c7      float64
c10     float64
c132     object
c141     object
c144     object
c145     object
c151    float64
c30      object
c31     float64
c35      object
c106     object
c108     object
c117     object
c61     float64
c62     float64
c65     float64
c41      object
c47     float64
c49      object
c56     float64
c122     object
c126     object
c128     object
c130     object
c84      object
c123     object
c51      object
c101     object
c109     object
c156     object
dtype: object

In [8]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

df_raw = df

# 1st possibility
label_encoder = LabelEncoder()  # Crear una instancia del codificador

# Ajustar el codificador a los datos
df_temp = df_raw.astype("str").apply(label_encoder.fit_transform)
df_final = df_temp.where(~df_raw.isna(), df_raw)

# Realizar la decodificación manualmente
#df_decoded = df_final.copy()
#for column in df_decoded.columns:
#    mapping = {label: original for label, original in zip(df_temp[column].unique(), df_raw[column].unique())}
#    df_decoded[column] = df_decoded[column].map(mapping)

In [11]:
from sklearn.impute import KNNImputer
from sklearn.preprocessing import LabelEncoder
import pandas as pd


#print("Columnas numericas no categoricas:", num_cols_ncat)
#print("Columnas categoricas numericas:", num_cols_cat)
#print("Columnas categoricas string:", str_cols)



num_cols_ncat= ['c61', 'c62', 'c31', 'c56']
num_cols_cat= ['c7', 'c145', 'c151', 'c47', 'c65', 'c10']
str_cols= ['c1', 'c144', 'c106', 'c108', 'c51', 'c101', 'c109', 'c132', 'c141', 'c35', 'c117', 'c122', 'c126', 'c128', 'c130', 'c84', 'c123', 'c156', 'c49', 'c41', 'c30']


# Imputación de valores faltantes para las columnas categóricas mediante KNNImputer
imputer = KNNImputer(n_neighbors=1)
df_final[str_cols] = imputer.fit_transform(df_final[str_cols])

In [16]:
print(df_decoded.isNone().sum())

AttributeError: 'DataFrame' object has no attribute 'isNone'

In [13]:
# Realizar la decodificación manualmente
df_decoded = df_final.copy()
for column in df_decoded.columns:
    mapping = {label: original for label, original in zip(df_temp[column].unique(), df_raw[column].unique())}
    df_decoded[column] = df_decoded[column].map(mapping)

In [15]:
df_decoded

,c1,c7,c10,c132,c141,c144,c145,c151,c30,c31,...,c122,c126,c128,c130,c84,c123,c51,c101,c109,c156
0,A,1.0,14.6,B,OPP,1L71,1.0,1.0,STRD,1418.4824,...,VXFG,VXFG075W,GL15,None,U,U,PROFESSIONAL PILOT,Personal,Dusk,RECIPROCATING-OPPOSED
1,A,1.0,14.6,Z,OTH,1H71,1.0,1.0,STRD,1101.3287,...,HSYA,HSYA817E,NM05,None,T,Y,STUDENT,Personal,Day,RECIPROCATING-OPPOSED
2,A,1.0,14.8,B,OTH,1H71,1.0,1.0,STRD,1049.0837,...,KBNA,KBNA479F,SW03,Instrument Flight Ru,K,N,OTHER,Other,Dawn,RECIPROCATING-OPPOSED
3,A,1.0,14.8,Z,OPP,1H71,1.0,1.0,STRD,1059.6680,...,W94L,W94L094I,NM01,None,U,U,ENGINEER,Personal,Day,RECIPROCATING-OPPOSED
4,A,1.0,14.8,Z,OTH,1H71,1.0,1.0,STRD,1151.7411,...,HSYA,HSYA817E,NM05,None,F,Y,OTHER,Business,Day,RECIPROCATING-OPPOSED
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214622,I,2.0,17.0,B,ATS,1H71,1.0,1.2,STRD,929.0000,...,AAL,SWLIT140T,SO63,Instrument Flight Ru,K,U,UNKNOWN,Business,Day,RECIPROCATING-INLINE
214623,I,2.0,15.0,Z,ATS,1L71,1.0,1.0,STRD,1823.0000,...,SWA,SWLIT140T,SO63,None,K,Y,UNKNOWN,Personal,Day,RECIPROCATING-OPPOSED
214624,I,1.0,9.0,B,ATS,1H71,1.6,1.8,STRD,970.0000,...,7UVS,AT70480,SO04,None,K,U,UNKNOWN,Business,Day,RECIPROCATING-OPPOSED
214625,I,1.0,4.0,Y,ATS,2H72,1.8,2.2,STRD,11102.9970,...,VPOA,SWSAT91T,SW64,Instrument Flight Ru,J,U,PROFESSIONAL PILOT,Scheduled Air Carrie,Night,TURBOPROP
214626,A,11.0,11.0,A,OPP,1H71,1.0,1.4,STRD,1532.0000,...,MTNA,1024,SO63,Instrument Flight Ru,U,N,OTHER,Other,Dawn,RECIPROCATING-OPPOSED

In [12]:
df_final

,c1,c7,c10,c132,c141,c144,c145,c151,c30,c31,...,c122,c126,c128,c130,c84,c123,c51,c101,c109,c156
0,0.0,0.0,33,0.9,5.9,23.0,1.0,1.0,5.0,31281,...,4371.1,7586.4,164.0,4.8,14.4,1.0,11.0,13.0,2.0,3.2
1,0.0,0.0,39,1.0,4.9,11.0,1.0,1.0,5.0,53579,...,3326.2,5998.3,78.0,4.6,14.2,2.0,13.0,13.0,1.0,3.0
2,0.0,0.0,12,0.5,6.1,11.0,1.0,1.0,4.5,14492,...,3723.1,5740.9,104.5,5.0,11.4,0.0,9.0,12.0,0.0,2.9
3,0.0,0.0,11,0.8,4.9,11.0,1.0,1.0,4.4,55486,...,4026.5,3688.4,195.1,4.6,11.3,1.0,3.0,13.0,1.0,3.0
4,0.0,0.0,36,1.1,4.2,11.0,1.0,1.0,5.0,37551,...,3408.4,5998.3,77.5,6.2,13.3,2.0,9.0,6.0,1.0,3.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214630,1.0,4.0,39,5.4,6.1,14.7,0.6,1.0,5.0,58317,...,3154.3,5055.7,150.8,5.4,14.6,0.9,14.6,13.0,1.6,7.4
214631,1.0,4.0,29,0.2,4.9,23.0,0.0,1.0,5.0,9055,...,3464.4,6330.4,146.4,6.0,16.9,1.0,15.0,13.0,1.2,3.0
214632,1.0,0.0,87,2.9,5.9,31.9,1.7,1.6,5.0,58869,...,452.0,2690.2,94.2,4.6,14.0,1.0,15.0,11.0,1.2,3.0
214633,1.0,0.0,66,10.2,4.9,31.7,1.7,1.8,5.0,39573,...,6310.0,2618.2,124.9,3.4,12.1,0.9,11.0,8.4,1.2,9.0
214634,0.0,2.0,8,5.4,6.0,15.4,0.3,1.0,5.0,6004,...,3018.9,4194.1,151.2,4.8,19.1,1.1,15.0,11.3,1.2,3.0

import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

from sklearn.impute import KNNImputer
from sklearn.preprocessing import LabelEncoder
import pandas as pd

df_raw = df_decoded

# 1st possibility
label_encoder = LabelEncoder()  # Crear una instancia del codificador

# Ajustar el codificador a los datos
df_temp = df_raw.astype("str").apply(label_encoder.fit_transform)
df_final = df_temp.where(~df_raw.isna(), df_raw)

# Inverse mapping to decode the values
df_decoded = df_final.astype("str").apply(label_encoder.inverse_transform)
df_decoded = df_decoded.where(~df_final.isna(), df_final)


# Imputación de valores faltantes para las columnas categóricas mediante KNNImputer
imputer = KNNImputer(n_neighbors=3)
df_final[cat_cols] = imputer.fit_transform(df_final[cat_cols])


# df_decoded contiene los valores decodificados
# Realizar la decodificación manualmente
df_decoded = df_final.copy()
for column in df_decoded.columns:
    mapping = {label: original for label, original in zip(df_temp[column].unique(), df_raw[column].unique())}
    df_decoded[column] = df_decoded[column].map(mapping)

import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

df_raw = df_decoded

# 1st possibility
label_encoder = LabelEncoder()  # Crear una instancia del codificador

# Ajustar el codificador a los datos
df_temp = df_raw.astype("str").apply(label_encoder.fit_transform)
df_final = df_temp.where(~df_raw.isna(), df_raw)

# Realizar la decodificación manualmente
#df_decoded = df_final.copy()
#for column in df_decoded.columns:
#    mapping = {label: original for label, original in zip(df_temp[column].unique(), df_raw[column].unique())}
#    df_decoded[column] = df_decoded[column].map(mapping)

from sklearn.impute import KNNImputer
from sklearn.preprocessing import LabelEncoder
import pandas as pd
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

num_cols= ['c10', 'c61', 'c62', 'c56']
cat_cols= ['c1', 'c7', 'c132', 'c141', 'c144', 'c145',
                       'c151', 'c30', 'c106', 'c108', 'c117',
                       'c65', 'c41', 'c47', 'c49', 'c130', 'c84', 'c123', 
                       'c51', 'c101', 'c109', 'c156', 'c122', 'c126', 'c128','c35']

# Imputación de valores faltantes para las columnas categóricas mediante KNNImputer
imputer = IterativeImputer()
df_final[cat_cols] = imputer.fit_transform(df_final[cat_cols])

In [13]:
df_decoded

,c1,c7,c10,c132,c141,c144,c145,c151,c30,c31,...,c122,c126,c128,c130,c84,c123,c51,c101,c109,c156
0,A,1.0,15.8,NaN,NaN,1L71,1.0,1.0,STRD,37499.4,...,NaN,NaN,RM67,NaN,NaN,U,PROFESSIONAL PILOT,Personal,Dusk,NaN
1,A,1.0,17.0,B,NaN,1H71,1.0,1.0,STRD,6478.6,...,NaN,NaN,GL06,NaN,NaN,Y,STUDENT,Personal,Day,RECIPROCATING-OPPOSED
2,A,1.0,11.8,NaN,NaN,1H71,1.0,1.0,NaN,23214.6,...,NaN,NaN,NaN,Special VFR,NaN,N,OTHER,Other,Dawn,NaN
3,A,1.0,11.6,NaN,NaN,1H71,1.0,1.0,NaN,7334.2,...,NaN,NaN,NaN,NaN,NaN,U,ENGINEER,Personal,Day,RECIPROCATING-OPPOSED
4,A,1.0,16.4,NaN,NaN,1H71,1.0,1.0,STRD,42864.0,...,NaN,NaN,NaN,NaN,NaN,Y,OTHER,Business,Day,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214630,I,2.0,17.0,NaN,NaN,NaN,NaN,1.0,STRD,929.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Personal,NaN,NaN
214631,I,2.0,15.0,NaN,NaN,1L71,1,1.0,STRD,1823.0,...,NaN,NaN,NaN,Unknown,NaN,U,UNKNOWN,Personal,NaN,RECIPROCATING-OPPOSED
214632,I,1.0,9.0,NaN,NaN,NaN,NaN,NaN,STRD,970.0,...,7UVS,NaN,NaN,NaN,O,U,UNKNOWN,Instruction,NaN,RECIPROCATING-OPPOSED
214633,I,1.0,4.0,NaN,NaN,NaN,NaN,NaN,STRD,44678.8,...,VPOA,NaN,NaN,NaN,NaN,NaN,PROFESSIONAL PILOT,NaN,NaN,TURBOPROP
214634,A,11.0,11.0,NaN,OPP,NaN,NaN,1.0,STRD,1532.0,...,NaN,NaN,NaN,NaN,NaN,NaN,UNKNOWN,NaN,NaN,RECIPROCATING-OPPOSED

# Realizar la decodificación manualmente
df_decoded = df_final.copy()
for column in df_decoded.columns:
    mapping = {label: original for label, original in zip(df_temp[column].unique(), df_raw[column].unique())}
    df_decoded[column] = df_decoded[column].map(mapping)

In [14]:
df_decoded

,c1,c7,c10,c132,c141,c144,c145,c151,c30,c31,...,c122,c126,c128,c130,c84,c123,c51,c101,c109,c156
0,A,1.0,15.8,NaN,NaN,1L71,1.0,1.0,STRD,37499.4,...,NaN,NaN,RM67,NaN,NaN,U,PROFESSIONAL PILOT,Personal,Dusk,NaN
1,A,1.0,17.0,B,NaN,1H71,1.0,1.0,STRD,6478.6,...,NaN,NaN,GL06,NaN,NaN,Y,STUDENT,Personal,Day,RECIPROCATING-OPPOSED
2,A,1.0,11.8,NaN,NaN,1H71,1.0,1.0,NaN,23214.6,...,NaN,NaN,NaN,Special VFR,NaN,N,OTHER,Other,Dawn,NaN
3,A,1.0,11.6,NaN,NaN,1H71,1.0,1.0,NaN,7334.2,...,NaN,NaN,NaN,NaN,NaN,U,ENGINEER,Personal,Day,RECIPROCATING-OPPOSED
4,A,1.0,16.4,NaN,NaN,1H71,1.0,1.0,STRD,42864.0,...,NaN,NaN,NaN,NaN,NaN,Y,OTHER,Business,Day,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214630,I,2.0,17.0,NaN,NaN,NaN,NaN,1.0,STRD,929.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Personal,NaN,NaN
214631,I,2.0,15.0,NaN,NaN,1L71,1,1.0,STRD,1823.0,...,NaN,NaN,NaN,Unknown,NaN,U,UNKNOWN,Personal,NaN,RECIPROCATING-OPPOSED
214632,I,1.0,9.0,NaN,NaN,NaN,NaN,NaN,STRD,970.0,...,7UVS,NaN,NaN,NaN,O,U,UNKNOWN,Instruction,NaN,RECIPROCATING-OPPOSED
214633,I,1.0,4.0,NaN,NaN,NaN,NaN,NaN,STRD,44678.8,...,VPOA,NaN,NaN,NaN,NaN,NaN,PROFESSIONAL PILOT,NaN,NaN,TURBOPROP
214634,A,11.0,11.0,NaN,OPP,NaN,NaN,1.0,STRD,1532.0,...,NaN,NaN,NaN,NaN,NaN,NaN,UNKNOWN,NaN,NaN,RECIPROCATING-OPPOSED

In [15]:
# Lista de columnas a recorrer
columnas = ["c132"]  # Agrega aquí todas las columnas que deseas recorrer

for columna in columnas:
    # Obtener los valores repetidos y contar su frecuencia
    repeated_values = df[columna].value_counts()
    
    # Crear un DataFrame con los valores repetidos y su frecuencia
    repeated_values_df = repeated_values.to_frame()
    repeated_values_df.columns = ['Frequency']
    
    # Ordenar por las categorías menos frecuentes
    repeated_values_df = repeated_values_df.sort_values(by='Frequency').head(50)
    
    # Imprimir el nombre de la columna
    print("Columna:", columna)
    
    # Imprimir el DataFrame
    print(repeated_values_df)
    print()  # Agregar una línea en blanco después de cada columna

Columna: c132
   Frequency
X         12
S         12
U         15
D         19
T         19
R         20
O         23
V         31
W         32
H         36
L         43
N         46
K         47
G         52
C         66
M        126
F        142
J        157
P        178
Q        548
I       1049
E       1997
Y      17406
A      34794
B      36771
Z      61401

In [16]:
df = df_imputed

NameError: name 'df_imputed' is not defined

In [ ]:
df

In [ ]:
# Contar el número de valores NaN en cada columna
print(df["c132"].isna().sum())

In [ ]:
df["c132"]

In [ ]:
table_encoder

In [ ]:
# Contar el número de valores NaN en cada columna
print(df["c132"].isna().sum())